*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.App{
  background-image:linear-gradient(to right bottom, #00afff, #88bfff, #bed1ff, #e4e7ff, #ffffff);
  height:100%;
  background-size: cover;
}


.title{
    text-align:center;
    align-items: center;
    font-size:250%;
    
}

@media(max-width:1200px){
    .title{
        font-size: 200%;
    }
}
@media(max-width:992px){
    .title{
        font-size:150%;
    }
}
@media(max-width:770px){
    .title{
        font-size:100%;
    }
}
@media(max-width:375px){
    .title{
        font-size:75%;
    }
}